<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Shop Xe Đạp - Đà Nẵng</title>

	<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
	<link rel="stylesheet" href="../../resources/assets/css/bootstrap.css"  th:href="@{/resources/js/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../../resources/js/bootstrap/css/bootstrap-responsive.min.css" th:href="@{/resources/js/bootstrap/css/bootstrap-responsive.min.css}" />
	
	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="../../resources/css/font-awesome/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome/css/font-awesome.min.css}" />

	<!-- Css -->	
	<link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}"/>
</body>
</html>