<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Shop Xe Đạp - Đà Nẵng</title>

	<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
	<link rel="stylesheet" href="../../resources/assets/css/bootstrap.css"  th:href="@{/resources/js/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../../resources/js/bootstrap/css/bootstrap-responsive.min.css" th:href="@{/resources/js/bootstrap/css/bootstrap-responsive.min.css}" />
	
	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="../../resources/css/font-awesome/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome/css/font-awesome.min.css}" />

	<!-- Css -->	
	<link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}"/>

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand"  >SXĐ</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="dropdown">
							<a  class="dropdown-toggle" data-toggle="dropdown">Trang Chủ<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a>Trang chủ</a></li>
								<li><a>Giỏ Hàng</a></li>
								<li><a >Thanh Toán</a></li>
								<li><a>Về Công Ty</a></li>
								<li><a >Chi Tiết Sản Phẩm</a></li>
								
							</ul>
						</li>
					</ul>
					<form class="navbar-form form-search pull-right">
						<input id="Search" name="Search" type="text" placeholder="Điền nội dung muốn tìm kiếm" class="input-medium search-query"></input>
						<button type="submit" class="btn">Tìm Kiếm</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="well">

					<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-shopping-cart"></i>
							3 item - $999.99
							<b class="caret"></b></a>
					
						<div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
							<p>Item x 1 <span class="pull-right">$333.33</span></p>
							<p>Item x 1 <span class="pull-right">$333.33</span></p>
							<p>Item x 1 <span class="pull-right">$333.33</span></p>
							<a href="#" class="btn btn-primary">Checkout</a>
						</div>
					</div>

				</div>

				<div class="well">
					<ul class="nav nav-list">
						<li class="nav-header">Danh Mục Xe Đạp</li>
						<li class="active">
							<a href="#">Xe đạp thông dụng</a>
						</li>
						<li>
							<a href="#">Xe đạp thời trang</a>
						</li>
						<li>
							<a href="#">Xe đạp trẻ em</a>
						</li>

						<li class="nav-header">Tìm theo phân loại sản phẩm</li>
						<li>
							<a href="#">Sản phẩm mới xuất hiện</a>
						</li>
						<li>
							<a href="#">Sản phẩm Đang khuyến mãi</a>
						</li>
						<li>
							<a href="#">Sản phẩm tốt giá tốt</a>
						</li>

					</ul>
				</div>

				<div class="well">
					<h4>Tìm kiếm</h4>
					<form>
						<label class="checkbox">
							<input type="checkbox" value=""></input>
							Kiểu xe
						</label>

						<label class="checkbox">
							<input type="checkbox" value=""></input>
							Màu xe
						</label>

						<label class="checkbox">
							<input type="checkbox" value=""></input>
							Giá sản phẩm
						</label>

						<label class="checkbox">
							<input type="checkbox" value=""></input>
							Tên xe
						</label>
						<button class="btn btn-primary pull-right" type="submit">Tìm</button>
					</form>
				</div>
				<div class="well">
					<form class="form login-form">
						<h2>Đăng nhập</h2>
						<div>
							<label>Tên người dùng</label>
							<input id="Username" name="Username" type="text" />

							<label>Mật khẩu</label>
							<input id="Password" name="Password" type="password" />

							<label class="checkbox inline">
								<input type="checkbox" id="RememberMe" value="option1"> Nhớ lần đăng nhập tiếp theo </input>
							</label>

							<br /><br />

							<button type="submit" class="btn btn-success">Đăng nhập</button>
						</div>
						<br />
						<a href="#">Đăng kí</a>&nbsp;&#124;&nbsp;<a href="#">Quên mật khẩu?</a>
					</form>
				</div>
			</div>

			<div class="span9">
				<div class="hero-unit">
					<h1 class="">Slider</h1>
					<p class="">Cho các hình ảnh chạy ngang trên page!</p>
					<p><a href="#" class="btn btn-primary btn-large">Chi tiết  »</a></p>
				</div>

				<ul class="thumbnails">
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt="" th:src="@{/resources/js/holder.js/300x200}"></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p><strike>Giá Củ</strike>&nbsp;Giá Mới</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
				</ul>

				<div class="pagination">
					<ul>
						<li class="disabled"><span>Trước</span></li>
						<li class="disabled"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">Sau</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	
	<hr />

	<footer id="footer" class="vspace20">
		<div class="container">
			<div class="row">
				<div class="span4">
					<h4>Thông Tin</h4>
					<ul class="nav nav-stacked">
						<li><a href="#">Trang Chủ</a></li>
						<li><a href="#">Dịch Vụ</a></li>
						<li><a href="#">Sản Phẩm</a></li>
						<li><a href="#">Về Công Ty</a></li>
					</ul>
				</div> 

				<div class="span4">
					<h4>Địa Điểm và Liên Lạc</h4>
					<p><i class="icon-map-marker"></i>&nbsp;193 Nguyễn Lương Bằng - Liên Chiểu - Đà Nẵng</p>
					<p><i class="icon-phone"></i>&nbsp;Phone: 234 739.126.72</p>
					<p><i class="icon-print"></i>&nbsp;Fax: 213 123.12.090</p>
					<p><i class="icon-envelope"></i>&nbsp;Email: info@sxd.com</p>
					<p><i class="icon-globe"></i>&nbsp;Web: http://www.shopxedap.com</p>
				</div>

				<div class="span4">
					<h4>Theo dõi</h4>
					<p>Nhập email để nhận thông tin từ website shopxedap</p>
					<form class="form-newsletter">
						<div class="input-append">
							<input type="email" class="span2" placeholder="Email của bạn"></input>
							<button type="submit" class="btn">Theo dõi</button>
						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="span6">
					<p>&copy; Copyright 2012.&nbsp;<a href="#">Privacy</a>&nbsp;&amp;&nbsp;<a href="#">Terms and Conditions</a></p>
				</div>
				<div class="span6">
					<a class="pull-right" href="http://www.responsivewebmobile.com" target="_blank">credits by Đức Chó Lác</a>
				</div>
			</div>
		</div>
	</footer>	

	<script src="../../resources/js/jquery-1.10.0.min.js" th:src="@{/resources/js/jquery-1.10.0.min.js}"></script>
	<script src="../../resources/js/bootstrap/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap/js/bootstrap.min.js}"></script>
	<script src="../../resources/js/holder.js" th:src="@{/resources/js/holder.js}"></script>
	<script src="../../resources/js/script.js" th:src="@{/resources/js/script.js}"></script>
</body>
</html>