
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutGuest">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Trang Chủ</title>
</head>
<body>
			
			<div layout:fragment="a">
				<div class="well">
					<h4>TÌM THEO GIÁ BÁN</h4>
							<ul class="nav nav-list">
								<li class="active">
									<a href="#">Giá 2 triệu - 4 triệu</a>
								</li>
								<li>
									<a href="#">Giá 4 triệu - 6 triệu</a>
								</li>
								<li>
									<a href="#">Giá 6 triệu - 8 triệu</a>
								</li>
								<li>
									<a href="#">Giá 8 triệu - 10 triệu</a>
								</li>
								<li>
									<a href="#">Giá 10 triệu - 13 triệu</a>
								</li>
								<li>
									<a href="#">Giá 13 triệu - 15 triệu</a>
								</li>
								<li>
									<a href="#">Giá 15 triệu - 20 triệu</a>
								</li>
								<li>
									<a href="#">Giá 20 triệu - 30 triệu</a>
								</li>
								<li>
									<a href="#">Giá trên 30 triệu</a>
								</li>
							</ul>
				</div>
				<div class="well">
					<form class="form login-form">
						<h2>Đăng nhập</h2>
						<div>
							<label>Tên người dùng</label>
							<input id="Username" name="Username" type="text" />

							<label>Mật khẩu</label>
							<input id="Password" name="Password" type="password" />

							<label class="checkbox inline">
								<input type="checkbox" id="RememberMe" value="option1"> Nhớ lần đăng nhập tiếp theo </input>
							</label>

							<br /><br />

							<button type="submit" class="btn btn-success">Đăng nhập</button>
						</div>
						<br />
						<a href="#">Đăng kí</a>&nbsp;&#124;&nbsp;<a href="#">Quên mật khẩu?</a>
					</form>
				</div>
			</div>
			<div layout:fragment="content">
      			<div class="span9">
				<div class="hero-unit">
					<h1 class="">Slider</h1>
					<p class="">Cho các hình ảnh chạy ngang trên page!</p>
					<p><a href="#" class="btn btn-primary btn-large">Chi tiết  »</a></p>
				</div>

				<ul class="thumbnails">
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt="" th:src="@{/resources/js/holder.js/300x200}"></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p><strike>Giá Củ</strike>&nbsp;Giá Mới</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<img src="holder.js/300x200" alt=""></img>
							<div class="caption">
								<h4>Tên Sản Phẩm</h4>
								<p>Giá SP</p>
								<a class="btn btn-primary" href="#">Xem</a>
								<a class="btn btn-success" href="#">Thêm vào giỏ</a>
							</div>
						</div>
					</li>
				</ul>
				<div class="pagination">
					<ul>
						<li class="disabled"><span>Trước</span></li>
						<li class="disabled"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">Sau</a></li>
					</ul>
				</div>
			</div>	
    		</div>
</body>
</html>