<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title layout:title-pattern="$CONTENT_TITLE">My website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Shop Xe Đạp - Đà Nẵng</title>

	<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
	<link rel="stylesheet" href="../../resources/assets/css/bootstrap.css"  th:href="@{/resources/js/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../../resources/js/bootstrap/css/bootstrap-responsive.min.css" th:href="@{/resources/js/bootstrap/css/bootstrap-responsive.min.css}" />
	
	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="../../resources/css/font-awesome/css/font-awesome.min.css" th:href="@{/resources/css/font-awesome/css/font-awesome.min.css}" />

	<!-- Css -->	
	<link rel="stylesheet" href="../../resources/css/style.css" th:href="@{/resources/css/style.css}"/>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" th:href="@{/}"  >SXĐ</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="dropdown">
							<a  class="dropdown-toggle" data-toggle="dropdown">Trang Chủ<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/}">Trang chủ</a></li>
								<li><a th:href="@{/cart}">Giỏ Hàng</a></li>
								<li><a th:href="@{/checkout}" >Thanh Toán</a></li>
								<li><a th:href="@{/about}">Về Công Ty</a></li>
								<li><a th:href="@{/orderDetail}">Chi Tiết Sản Phẩm</a></li>
								
							</ul>
						</li>
					</ul>
					<form class="navbar-form form-search pull-right">
						<input id="Search" name="Search" type="text" placeholder="Điền nội dung muốn tìm kiếm" class="input-medium search-query"></input>
						<button type="submit" class="btn">Tìm Kiếm</button>
					</form>
				</div>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="row">
					<div class="span3">
						<div class="well">
		
							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="icon-shopping-cart"></i>
										3 item - $999.99
										<b class="caret"></b></a>
								<div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
									<p>Item x 1 <span class="pull-right">$333.33</span></p>
									<p>Item x 1 <span class="pull-right">$333.33</span></p>
									<p>Item x 1 <span class="pull-right">$333.33</span></p>
									<a href="#" class="btn btn-primary">Checkout</a>
								</div>
							</div>
							
						</div>
	
						<div class="well">
							<h4>DANH MỤC XE ĐẠP</h4>
							<ul class="nav nav-list">
								<li class="active">
									<a href="#">Xe đạp thông dụng</a>
								</li>
								<li>
									<a href="#">Xe đạp thời trang</a>
								</li>
								<li>
									<a href="#">Xe đạp trẻ em</a>
								</li>
							</ul>
						</div>
						<div class="well">
							<h4>PHÂN LOẠI SẢN PHẨM</h4>
							<ul class="nav nav-list">
								<li>
									<a href="#">Sản phẩm mới xuất hiện</a>
								</li>
								<li>
									<a href="#">Sản phẩm Đang khuyến mãi</a>
								</li>
								<li>
									<a href="#">Sản phẩm tốt giá tốt</a>
								</li>
							</ul>
						</div>	
						<div layout:fragment="a">
						</div>		
				</div>
				 <div layout:fragment="content">
    			</div>
				
			</div>
		</div>
 
    <hr/>
    <footer id="footer" class="vspace20">
		<div class="container">
			<div class="row">
				<div class="span4">
					<h4>Thông Tin</h4>
					<ul class="nav nav-stacked">
						<li><a th:href="@{/}">Trang chủ</a></li>
						<li><a th:href="@{/cart}">Giỏ Hàng</a></li>
						<li><a th:href="@{/checkout}" >Thanh Toán</a></li>
						<li><a th:href="@{/about}">Về Công Ty</a></li>
						<li><a th:href="@{/orderDetail}">Chi Tiết Sản Phẩm</a></li>
					</ul>
				</div> 

				<div class="span4">
					<h4>Địa Điểm và Liên Lạc</h4>
					<p><i class="icon-map-marker"></i>&nbsp;193 Nguyễn Lương Bằng - Liên Chiểu - Đà Nẵng</p>
					<p><i class="icon-phone"></i>&nbsp;Phone: 234 739.126.72</p>
					<p><i class="icon-print"></i>&nbsp;Fax: 213 123.12.090</p>
					<p><i class="icon-envelope"></i>&nbsp;Email: info@sxd.com</p>
					<p><i class="icon-globe"></i>&nbsp;Web: http://www.shopxedap.com</p>
				</div>

				<div class="span4">
					<h4>Theo dõi</h4>
					<p>Nhập email để nhận thông tin từ website shopxedap</p>
					<form class="form-newsletter">
						<div class="input-append">
							<input type="email" class="span2" placeholder="Email của bạn"></input>
							<button type="submit" class="btn">Theo dõi</button>
						</div>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="span6">
					<p>&copy; Copyright 2014.&nbsp;<a href="#">Đà Nẵng</a>&nbsp;&amp;&nbsp;<a href="#">shopxedap.com</a></p>
				</div>
				<div class="span6">
					<a class="pull-right" href="http://www.responsivewebmobile.com" target="_blank">credits by Tùng</a>
				</div>
			</div>
		</div>
	</footer>	
	<script src="../../resources/js/jquery-1.10.0.min.js" th:src="@{/resources/js/jquery-1.10.0.min.js}"></script>
	<script src="../../resources/js/bootstrap/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap/js/bootstrap.min.js}"></script>
	<script src="../../resources/js/holder.js" th:src="@{/resources/js/holder.js}"></script>
	<script src="../../resources/js/script.js" th:src="@{/resources/js/script.js}"></script>
	
  </body>
</html>